.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  color: black;
}

.root-nav-item-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid white;
}

.root-nav-item-container:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.child {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-width: max-content;
}

.root-children {
  display: none;
  position: absolute;
  background-color: rgb(172, 172, 172);
  min-width: 100%;
  color: black;
  top: 100%;
  box-shadow: rgba(124, 131, 137, 0.3) 0px 8px 24px;
}

.children {
  display: none;
  position: absolute;
  background-color: rgb(172, 172, 172);
  min-width: 100%;
  color: black;
  left: 100%;
}

.root-nav-item-container:hover .root-children {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
}

.child:hover {
  opacity: 0.9;
}

.child:hover .children {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
}

a {
  text-decoration: none;
  color: black;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

a.disable {
  pointer-events: none;
}

.root-nav-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-item {
  background-color: rgb(235, 235, 235);
}