.navbar {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
}

.root-nav-item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid white;
}

.root-nav-item:hover {
  cursor: pointer;
}

.child {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.root-children {
  display: none;
  position: absolute;
  background-color: rgb(172, 172, 172);
  width: 100%;
  color: black;
  top: 100%;
}

.children {
  display: none;
  position: absolute;
  background-color: rgb(172, 172, 172);
  width: 100%;
  color: black;
  left: 100%;
}

.root-nav-item:hover .root-children {
  display: flex;
  flex-direction: column;
}